@page "{Id:int}"
@model AI.Notebook.Web.Pages.Results.Translator.ItemModel
@{
	ViewData["Title"] = "Translator Result Details";
}
@section header {

}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h3>@ViewData["Title"]</h3>
</div>
<div class="row mb-3">
	<div class="col">
		<form method="post">
			<div class="card">
				<img src="/images/request-submission.png" class="card-img-top" alt="an image of some circuits with wires.">
				<div class="card-body">
					<div class="row mb-3">
						<div class="col">
							<label class="form-label" id="translatorOperation">Requested Operation</label>
							<select class="form-select" for="translatorOperation" disabled>
								@{
									if (Model.ResultModel.Translate)
									{
										<option value="translate" selected>Translate</option>
									}
									else
									{
										<option value="translate">Translate</option>
									}
									if (Model.ResultModel.Transliterate)
									{
										<option value="transliterate" selected>Transliterate</option>
									}
									else
									{
										<option value="transliterate">Transliterate</option>
									}
								}
							</select>
						</div>
						<div class="col">
							<label asp-for="ResultModel.SourceLanguage" class="form-label"></label>
							<input type="text" class="form-control" asp-for="ResultModel.SourceLanguage" readonly>
						</div>
						<div class="col">
							<label asp-for="ResultModel.TargetLanguage" class="form-label"></label>
							<input type="text" class="form-control" asp-for="ResultModel.TargetLanguage" readonly>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<label asp-for="ResultModel.Prompt" class="form-label"></label>
							<textarea class="form-control" asp-for="ResultModel.Prompt" readonly></textarea>
						</div>
						<div class="col">
							<label asp-for="ResultModel.ResultText" class="form-label"></label>
							<textarea class="form-control" readonly>@(Model.ResultModel.ResultText)</textarea>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<label class="form-label">Preferred Output</label>
							<div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" asp-for="ResultModel.OutputAsText" disabled>
									<label class="form-check-label" asp-for="ResultModel.OutputAsText"></label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" asp-for="ResultModel.OutputAsAudio" disabled>
									<label class="form-check-label" asp-for="ResultModel.OutputAsAudio"></label>
								</div>
							</div>
						</div>
						<div class="col">
							<label asp-for="ResultModel.ResultTypeId" class="form-label"></label>
							<input type="text" class="form-control" asp-for="ResultModel.ResultType.Name" readonly />
						</div>
					</div>
					@{
						if (Model.ResultModel.OutputAsAudio)
						{
							<div class="row mb-3">
								<div class="col">
									<label asp-for="ResultModel.VoiceName" class="form-label"></label>
									<input asp-for="ResultModel.VoiceName" type="text" class="form-control" disabled>
								</div>
								<div class="col">
									<label asp-for="ResultModel.ResultAudio" class="form-label"></label>
									<div class="d-flex align-items-center">
										<audio controls>
											<source src="/Downloads/Audio/Translator/@(Model.Id)" type="audio/wav">
											Your browser does not support the audio element.
										</audio>
										<a href="/Downloads/Audio/Translator/@(Model.Id)" class="btn btn-sm btn-outline-secondary ms-2" target="_blank" title="Click to download the generated audio.">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
											</svg>
										</a>
									</div>
								</div>
							</div>
						}
					}
					<div class="row mb-3">
						<div class="col-6 offset-md-3">
							<div class="alert alert-info" role="alert">
								Would you like to submit that translation as an Speech Synthesis Markup Language (SSML)? Click the "Submit SSML" to open the SSML modal.
								<div class="d-flex justify-content-center mt-1">
									<button id="ssmlButton" type="button" class="btn btn-secondary btn-sm" title="Click to use SSML on this result" data-bs-toggle="modal" data-bs-target="#ssmlModal">Submit SSML</button>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" asp-for="ResultModel.Id" />
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
						<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							@if (Model.Id > 0)
							{
								<div class="btn-group me-2" role="group" aria-label="Delete Group">
									<button id="deleteButton" type="button" class="btn btn-danger btn-sm" title="Click to delete this result" data-bs-toggle="modal" data-bs-target="#deleteResultModal">Delete</button>
								</div>
							}
						</div>
						<div>
							<h6>Created On <span class="badge text-bg-secondary">@Model.ResultModel.CreatedDt.ToString()</span></h6>
							<h6>Last Updated <span class="badge text-bg-secondary">@Model.ResultModel.UpdatedDt.ToString()</span></h6>
							<h6>Completed On <span class="badge text-bg-secondary">@Model.ResultModel.CompletedDt.ToString()</span></h6>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal fade" id="deleteResultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteResultModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form method="post">
				<div class="modal-header">
					<h5 class="modal-title" id="aiResourceModalLabel">Delete Result Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you wish to delete the result?</p>
					<p><span class="badge text-bg-danger">CAUTION:</span> This action cannot be undone.</p>
					<input type="hidden" asp-for="ResultModel.Id" />
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger" title="Click to delete." asp-page-handler="delete" asp-route-id="@Model.ResultModel.Id">Delete</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Click to cancel.">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="ssmlModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ssmlModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form method="post">
				<div class="modal-header">
					<h5 class="modal-title" id="aiResourceModalLabel">Submit an SSML Request</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Speech Synthesis Markup Language (SSML) is used to specify the text to speech voice, language, name, style, and role for your speech output.</p>
					<div class="row mb-3">
						<div class="col">
							<label asp-for="ResultModel.Ssml" class="form-label"></label>
							<textarea class="form-control" asp-for="ResultModel.Ssml"></textarea>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<label asp-for="ResultModel.SsmlUrl" class="form-label"></label>
							<input type="text" class="form-control" asp-for="ResultModel.SsmlUrl" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" title="Click to submit SSML." asp-page-handler="ssmlrequest">Submit</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Click to cancel.">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<partial name="_toastPartial" />
@section scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script type="text/javascript" src="~/lib/plugins/jquery-autosize/jquery.autosize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".toast").toast('show');
			autosize($('textarea'));
		});
	</script>
}