@page "{Id:int}"
@model AI.Notebook.Web.Pages.Requests.Translator.ItemModel
@{
	ViewData["Title"] = "Request Details";
}
@section header {
	<link type="text/css" rel="stylesheet" href="~/lib/plugins/jquery-select2/css/select2.css" />
	<link type="text/css" rel="stylesheet" href="~/lib/plugins/jquery-select2/css/select2-bootstrap4.css" />
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h3>@ViewData["Title"]</h3>
</div>
<div class="row mb-3">
	<div class="col">
		<form method="post">
			<div class="card">
				<img src="/images/request-submission.png" class="card-img-top" alt="an image of some circuits with wires.">
				<div class="card-body">
					<h5 class="card-title">Use the form below to enter details for a translator request!</h5>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row">
						<div class="col">
							<label asp-for="RequestFormModel.Name" class="form-label"></label>
							<input type="text" class="form-control" asp-for="RequestFormModel.Name">
							<p class="text-muted small">Enter a name to identify this request.</p>
							<span asp-validation-for="RequestFormModel.Name" class="text-danger"></span>
						</div>
						<div class="col">
							<label class="form-label" asp-for="RequestFormModel.ResourceId"></label>
							<select asp-for="RequestFormModel.ResourceId" asp-items="Model.AIResourceList" class="form-select" style="width: 100%" disabled></select>
							<p class="text-muted small">An AI resource can only be selected on creation.</p>
							<input type="hidden" asp-for="RequestFormModel.ResourceId" />
						</div>
					</div>
					<ul class="nav nav-underline mb-3" id="functionTabs" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link @(Model.RequestFormModel.Translate?"active":"")" id="translate-tab" data-bs-toggle="tab" data-bs-target="#translate-tab-pane" type="button" role="tab" aria-controls="translate-tab-pane" aria-selected="@(Model.RequestFormModel.Translate?"true":"false")">Translate</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link @(Model.RequestFormModel.Transliterate?"active":"")" id="transliterate-tab" data-bs-toggle="tab" data-bs-target="#transliterate-tab-pane" type="button" role="tab" aria-controls="transliterate-tab-pane" aria-selected="@(Model.RequestFormModel.Transliterate?"true":"false")" disabled>Transliterate</button>
						</li>
					</ul>
					<input type="hidden" asp-for="RequestFormModel.Translate" value="true" />
					<input type="hidden" asp-for="RequestFormModel.Transliterate" value="false" />
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade @(Model.RequestFormModel.Translate?"show active":"")" id="translate-tab-pane" role="tabpanel" aria-labelledby="translate-tab" tabindex="0">
							<div class="row mb-3">
								<div class="col">
									<label asp-for="RequestFormModel.SourceLanguage" class="form-label"></label>
									<select id="sourceLangSelection" asp-for="RequestFormModel.SourceLanguage" asp-items="@Model.SourceLanguageList" class="form-select" style="width: 100%"></select>
									<p class="text-muted small">What is the source language?</p>
									<span asp-validation-for="RequestFormModel.SourceLanguage" class="text-danger"></span>
								</div>
								<div class="col">
									<label asp-for="RequestFormModel.TargetLanguage" class="form-label"></label>
									<select id="targetLangSelection" asp-for="RequestFormModel.TargetLanguage" asp-items="@Model.TargetLanguageList" class="form-select" style="width: 100%"></select>
									<p class="text-muted small">What is the desired language?</p>
									<span asp-validation-for="RequestFormModel.TargetLanguage" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="tab-pane fade @(Model.RequestFormModel.Transliterate?"show active":"")" id="transliterate-tab-pane" role="tabpanel" aria-labelledby="transliterate-tab" tabindex="0">
							<div class="alert alert-warning" role="alert">
								Transliteration is not currently functional.
							</div>
						</div>
					</div>					

					<div class="row mb-3">
						<div class="col">
							<label asp-for="RequestFormModel.Prompt" class="form-label"></label>
							<textarea class="form-control" asp-for="RequestFormModel.Prompt"></textarea>
							<p class="text-muted small">Enter the source text.</p>
							<span asp-validation-for="RequestFormModel.Prompt" class="text-danger"></span>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<label class="form-label">Preferred Output</label>
							<div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" asp-for="RequestFormModel.OutputAsAudio">
									<label class="form-check-label" asp-for="RequestFormModel.OutputAsAudio"></label>
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<label asp-for="RequestFormModel.VoiceName" class="form-label"></label>
							@{
								if (Model.RequestFormModel.OutputAsAudio)
								{
									<input asp-for="RequestFormModel.VoiceName" type="text" class="form-control">
								}
								else
								{
									<input asp-for="RequestFormModel.VoiceName" type="text" class="form-control" disabled>
								}
							}
							<p class="text-muted small">Enter a text-to-speech voice name.<br />
								Click to view <a href="https://learn.microsoft.com/en-us/azure/ai-services/speech-service/language-support?tabs=tts" target="_blank">a list of voices.</a>
							</p>							
							<span asp-validation-for="RequestFormModel.VoiceName" class="text-danger"></span>
						</div>
						<div class="col">
							<label asp-for="RequestFormModel.Ssml" class="form-label"></label>
							@{
								if (Model.RequestFormModel.OutputAsAudio)
								{
									<textarea class="form-control" asp-for="RequestFormModel.Ssml"></textarea>
								}
								else
								{
									<textarea class="form-control" asp-for="RequestFormModel.Ssml" disabled></textarea>
								}
							}
							<p class="text-muted small">Enter the SSML text to use for this request.</p>
							<span asp-validation-for="RequestFormModel.Ssml" class="text-danger"></span>
						</div>
						<div class="col">
							<label asp-for="RequestFormModel.SsmlUrl" class="form-label"></label>
							@{
								if (Model.RequestFormModel.OutputAsAudio)
								{
									<input type="text" class="form-control" asp-for="RequestFormModel.SsmlUrl" />
								}
								else
								{
									<input type="text" class="form-control" asp-for="RequestFormModel.SsmlUrl" disabled />
								}
							}
							<p class="text-muted small">Enter an accessible url for an SSML file.</p>
							<span asp-validation-for="RequestFormModel.SsmlUrl" class="text-danger"></span>
						</div>
					</div>

					<input type="hidden" asp-for="RequestFormModel.Id" />
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
						<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							<div class="btn-group me-2" role="group" aria-label="Save Group">
								<button id="saveButton" type="submit" class="btn btn-primary" title="Click to save the request details." asp-page-handler="save">Save</button>
								<a href="/Requests" class="btn btn-secondary" title="Click to return to the request listing.">Cancel</a>
							</div>
							@if (Model.Id > 0)
							{
								<div class="btn-group me-2" role="group" aria-label="Execute Group">
									<button id="runButton" type="submit" class="btn btn-success btn-sm runButton" title="Click to execute this request against the AI resource to get a result." asp-page-handler="execute">Run</button>
								</div>
								<div class="btn-group me-2" role="group" aria-label="Delete Group">
									<button id="deleteButton" type="button" class="btn btn-danger btn-sm" title="Click to delete this request and it's results" data-bs-toggle="modal" data-bs-target="#deleteRequestModal">Delete</button>
								</div>
							}
						</div>
						<div>
							@{
								if (Model.Id > 0 && Model.RequestFormModel.CreatedDt.HasValue)
								{
									<h6>Created On <span class="badge text-bg-secondary">@Model.RequestFormModel.CreatedDt.ToString()</span></h6>
								}
								if (Model.Id > 0 && Model.RequestFormModel.UpdatedDt.HasValue)
								{
									<h6>Last Updated <span class="badge text-bg-secondary">@Model.RequestFormModel.UpdatedDt.ToString()</span></h6>
								}
							}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
@if (Model.Id > 0)
{
	<div class="row">
		<div class="col">
			<div class="accordion" id="requestResultsAccordion">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							Results collected from this AI request
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#requestResultsAccordion">
						<div class="accordion-body">
							<table class="table table-striped ">
								<thead>
									<tr>
										<th scope="col">AI Resource</th>
										<th scope="col">Result Type</th>
										<th scope="col">Created On</th>
										<th scope="col">Updated On</th>
										<th scope="col">Completed On</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									@if (Model.Results != null)
									{
										@foreach (var result in Model.Results)
										{
											<tr>
												<td>@result.AIResource.Name</td>
												<td>@result.ResultType.Name</td>
												<td>@result.CreatedDt</td>
												<td>@result.UpdatedDt</td>
												<td>@result.CompletedDt</td>
												<td><a href="/Results/Translator/Item/@result.Id" target="_blank">View</a></td>
											</tr>
										}
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<div class="modal fade" id="deleteRequestModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteRequestModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form method="post">
				<div class="modal-header">
					<h5 class="modal-title" id="aiResourceModalLabel">Delete Request Confirmation</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Are you sure you wish to delete the request and any collected results?</p>
					<p><span class="badge text-bg-danger">CAUTION:</span> This action cannot be undone.</p>
					<input type="hidden" asp-for="RequestFormModel.Id" />
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger" title="Click to delete." asp-page-handler="delete">Delete</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" title="Click to cancel.">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<partial name="_toastPartial" />
@section scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script type="text/javascript" src="~/lib/plugins/jquery-select2/js/select2.min.js"></script>
	<script type="text/javascript" src="~/lib/plugins/jquery-autosize/jquery.autosize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".toast").toast('show');
			autosize($('textarea'));
			$('#aiResourceSelection').select2({ "multiple": false, width: 'resolve', theme: 'bootstrap4' });
			$('#sourceLangSelection').select2({ "multiple": false, width: 'resolve', theme: 'bootstrap4' });
			$('#targetLangSelection').select2({ "multiple": false, width: 'resolve', theme: 'bootstrap4' });

			$("#RequestFormModel_OutputAsAudio").on("change", function () {
				$("#RequestFormModel_VoiceName").prop("disabled", !$(this).is(":checked"));
				$("#RequestFormModel_Ssml").prop("disabled", !$(this).is(":checked"));
				$("#RequestFormModel_SsmlUrl").prop("disabled", !$(this).is(":checked"));
			});
			$('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
				switch (e.target.id) {
					case "translate-tab":
						$("#RequestFormModel_Translate").val(true); break;
					case "transliterate-tab":
						$("#RequestFormModel_Transliterate").val(true); break;
				}
			}).on('hidden.bs.tab', function (e) {
				switch (e.target.id) {
					case "translate-tab":
						$("#RequestFormModel_Translate").val(false); break;
					case "transliterate-tab":
						$("#RequestFormModel_Transliterate").val(false); break;
				}
			});

			var radioBtns = $("input[name^='TranslatorFunction']");
			radioBtns.change(function () {
				$(this).siblings("input[type=hidden]").val($(this).is(":checked"));
				// Attach custom event and handler to all other radio buttons in the same group.
				radioBtns.not(':checked').off('deselect').on('deselect', function () {
					$(this).each(function (i, e) {
						$(e).siblings("input[type=hidden]").val($(this).is(":checked"));
					});
				}).trigger('deselect'); // Immediately trigger this custom event.
			});
		});
	</script>
}